### Libraries

In [5]:
library(tidyverse)

# 1. Data Description

## Players Dataset

The sessions dataset contains **196 observations** and **7 variables**. The data were likely collected partially by a system which recorded players' playtime and also by a survey in which players self-reported their age, gender etc.

### players.csv Variables

| Name        | Type | Meaning                                 | Example                |
|-------------|------|-----------------------------------------|------------------------|
| experience  | chr (character) | Player's experience level out of: <br> - Amateur <br> - Beginner <br> - Regular <br> - Pro <br> - Veteran | Regular|
| subscribe | lgl (logical) | Whether the player is a subscriber (or not) <br> to a game-related a newsletter | True |
| hashedEmail | chr (character)  | Unique identifier for each player which<br>links to the sessions.csv dataset | bfce39c89d6549f2bb94d8   <br>064d3ce69dc3d7e72b38f4   <br>31d8aa0c4bf95ccee6bf |
| played_hours | dbl (double) | The total number of hours played by a player <br> rounded to the nearst 0.1 of an hour | 30.3 |
| name | chr (character) | The player's first name | Morgan |
| gender | chr (character) | The player's gender | Female |
| Age | int (integer) | The player's age in years | 21 |

### players.csv Summary

In [12]:
players <- read_csv("data/players.csv")

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [15]:
summarised_players <- players |>
                      summarize(
                          num_players = n(),
                          mean_hours_played =  mean(played_hours, na.rm = TRUE),
                          mean_age = mean(Age, na.rm = TRUE)
                      )

summarised_players

  num_players mean_hours_played mean_age
1 196         5.845918          21.13918

### players.csv Issues

* Two observations contain a missing age variable
* As the age, gender, and name are likely self-reported, users (particularly children) may provide false ages to bypass parental consent or may otherwise misreport their identity.
* As gender was used rather than sex, the variable is not binary and thus harder to quantify

# 2. Questions

For this project, **I have chosen Q1** as a broad question to address: "What player characteristics and behaviours are most predictive of subscribing to a game-related newsletter, and how do these features differ between various player types?"

From this broad question, I have branched out to explore: **“Can played hours and experience predict subscribing in the players.csv dataset?”,**

The players.csv dataset is well-suited to addressing my question as all of its observations contains the values of my selected explanatory variables. I picked hours played and experience as they relate to player characteristics and behaviours more than other variables. I will wrangle the data by converting experience into a factor since it is currently stored as a character, and by selecting only the variables I will be focusing on (experience, subscribe, and played_hours).

# 3. Exploratory Data Analysis and Visualization

*Note:* Compute the mean value for each quantitative variable in the players.csv data set has been completed above

## Wrangling the data

In [20]:
tidy_players <- players |>
                mutate(experience = as.factor(experience)) |>
                select(experience, subscribe, played_hours)

head(tidy_players, 5)

  experience subscribe played_hours
1 Pro         TRUE     30.3
2 Veteran     TRUE      3.8
3 Veteran    FALSE      0.0
4 Amateur     TRUE      0.7
5 Regular     TRUE      0.1